@charset "UTF-8";

$back-image-url: (
        'back1': '@/assets/image/0314/back1.png',
        'back2': '@/assets/image/0314/back2.png',
        'back3': '@/assets/image/0314/back3.png',
        'back4': '@/assets/image/0314/back4.png',
        'back5': '@/assets/image/0314/back5.png',
        'planet1' : '@/assets/image/0314/planet1.png',
        'planet2' : '@/assets/image/0314/planet2.png',
        'planet3' : '@/assets/image/0314/planet3.png',

        'planet4' : '@/assets/image/0314/planet4.png',
        'planet5' : '@/assets/image/0314/planet5.png',
        'planet6' : '@/assets/image/0314/planet6.png',
);

$back-image-position: (
        'back1': (top: -8px, left: -40px),
        'back2': (top: 211px, right: -231px),
        'back3': (left: 50%, transform-x: -50%),
        'back4': (top: 100px, right: -612px),
        'back5': (bottom: -183px, left: -21px),
        'planet1': (top: 21px, left: 130px),
        'planet2' : (bottom: 55px, right: 38px),
        'planet3' : (bottom: -30px, right: 107px),

        'planet4': (bottom: 0px, right: 190px),
        'planet5' : (bottom: 170px, left: 230px),
        'planet6' : (bottom: 50px, right: 130px),
);

$back-image-size: (
        'back1': (width: 372px, height: 500px),
        'back2': (width: 1115px, height: 807.7559204101562px),
        'back3': (width: 1660px, height: 1000px),
        'back4': (width: 1684px, height: 1684px),
        'back5': (width: 411px, height: 411px),
        'planet1' : (width: 371px, height: 371px),
        'planet2' : (width: 72px, height: 72px),
        'planet3' : (width: 98px, height: 98px),

        'planet4' : (width: 436px, height: 436px),
        'planet5' : (width: 167px, height: 167px),
        'planet6' :  (width: 1115px, height: 625px),
);

@each $name, $url in $back-image-url {
    $position-map: map-get($back-image-position, $name);
    $size-map: map-get($back-image-size, $name);

    .#{$name} {
        @include image-setting(
                        $url,
                        map-get($size-map, width),
                        map-get($size-map, height)
        );

        @include position-absolute(
                $top: map-get($position-map, top),
                $right: map-get($position-map, right),
                $bottom: map-get($position-map, bottom),
                $left: map-get($position-map, left),
                $transform-x: map-get($position-map, transform-x),
                $transform-y: map-get($position-map, transform-y)
        );
    }
}


.planet-groups {
    position: absolute;
    width: 372px;
    height: 436px;
    top: -8px;
    left: -40px;

    .planet-wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }


    .planet1 {
        @include image-cover;
        @include motion-float(
                $name: floatY,
                $duration: 4.8s,
                $delay: .2s
        );
    }

    .planet2 {
        @include image-cover;
        @include motion-float(
                $name: floatY,
                $duration: 4.8s,
                $delay: .2s
        );
    }

    .planet3 {
        @include image-cover;
        @include motion-float(
                $name: float-y-reverse,
                $duration: 6s,
                $delay: .5s
        );
    }
}

.planet-groups-right {
    position: absolute;
    width: 1115px;
    height: 807px;
    top: 211px;
    right: -231px;
    .planet-groups-wrap {
        position: relative;
        width: 100%;
        height: 100%;
    }


    .planet4 {
        z-index: 1;
        @include image-cover;
        @include motion-float(
                $name: floatY,
                $duration: 4.8s,
                $delay: .2s
        );
    }

    .planet5 {
        z-index: 2;
        @include image-cover;
        @include motion-float(
                $name: floatY,
                $duration: 4.8s,
                $delay: .2s
        );
    }

    .planet6 {
        z-index: -1;
        @include image-cover;
        @include motion-float(
                $name: float-y-reverse,
                $duration: 6s,
                $delay: .5s
        );
    }
}